*{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background:#F7F8FD;
  padding: 3.4rem 3.4rem;
}

button{
  color: inherit;
  font-size: inherit;
}